body {
    background-color: var(--main-color-lowlight);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#HeadingBar {
    background-color: var(--main-color-lowlight);
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20vh;
}