/* Tags */
body {
    background-color: var(--main-color-lowlight);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Classes and IDs */

#MainTitle {
    font-size: larger;
}

#Nav {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 0;
}


.NavButton {
    width: 20%;
    height: 100%;
    margin: 0px;
    color: var(--main-color-highlight);
    border: 0px;
    background-color: var(--main-color-lowlight);
    transition: 0.4s;
    margin-left: 10%;
    margin-right: 10%;
    animation: highlight 0.25s 1;
    animation-fill-mode: forwards;
}

.unlit {
    animation-name: none;
}

#Projects {
    margin-left: 0%;
    margin-right: 0%;
}

#projectPage, #aboutPage, #contactPage {
    margin-top: 1%;
    position: absolute;
    text-align: center;
    height: 70%;
    overflow: hidden;
    width: 100%;
}

#aboutWrapper {
    width: 80%;
    margin: auto;
    text-align: left;
}

#aboutWrapper h2{
    color: var(--main-color-highlight);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--main-color-lowshade);
    border-radius: 1% / 30%;
}

#aboutWrapper h3{
    color: var(--main-color-highlight);
    padding-left: 1em;
    line-height: 0em;
}

#aboutWrapper p{
    color: var(--main-color-midlight);
    padding-left: 2em;
}

#projectReel {
    height: 100%;
    text-align: center;
    width: 80%;
    display: inline-flex;
    overflow: hidden;
}

.projectReelItem {
    height: 100%;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
}

.projectContainer {
    margin: auto;
    height: 90%;
    width: 90%;
    background-color: var(--main-color-lowshade);
    border-radius: 2%;
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
  
    &:hover {
        width: 100%;
        height: 100%;
        background-color: var(--main-color-midshade);
    }
}

.projectImage {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
}

.projectTitle {
    color: var(--main-color-highlight);
    font-size: large;
}

.projectDescription {
    color: var(--main-color-highlight);
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    position: relative;
    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0; height: 0;
        #{$vertical}: 0; 
        #{$horizontal}: 0;
    }
  
    &::before {
        $h-side: if($horizontal == 'left', 'right', 'left');
        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }
    
    &::after {
        $v-side: if($vertical == 'top', 'bottom', 'top');
        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }
    
    &:hover {
        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }
        
        &::before { transition-delay: 0s, 0s, $duration; }
        
        &::after { transition-delay: 0s, $duration, 0s; }
    }
}

@mixin btn-border-drawing-up($color: #ccc, $hover: black, $width: 2px, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    position: relative;
    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 100%; height: 0;
        bottom: 50%;
        left: 0;
    }
  
    &::before {
        border-bottom-width: $width;
        border-left-width: $width;
        border-right-width: $width;
    }
    
    /*&::after {
        border-top-width: $width;
    }*/
    
    &:hover {
        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            bottom: 0%;
            height: 100%;
        }
        
        &::before { transition-delay: 0s, 0s, $duration; }
        
        &::after {
            transition-delay: 0, $duration, $duration;
            border-top-width: $width;
        }
    }
}

#AboutMe.draw-border {
    @include btn-border-drawing(var(--main-color-lowlight), var(--main-color-highlight), 4px, bottom, right); //#ffe593
}
#Projects.draw-border {
    @include btn-border-drawing-up(var(--main-color-lowlight), var(--main-color-highlight), 4px); //#ffe593
}
#Contact.draw-border {
    @include btn-border-drawing(var(--main-color-lowlight), var(--main-color-highlight), 4px, bottom, left); //#ffe593
}
  
/* Animations */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


@keyframes highlight {
	0% {
		background-color: var(--main-color-lowlight);
        color: var(--main-color-highlight);
        font-weight: normal;
	}
	
	100% {
		background-color: var(--main-color-highlight);
        color: var(--main-color-lowlight);
        font-weight: bold;
	}
}
